@font-face {
font-family: "KouzanBrushFontOTF";
  src: url(https://mmurak.github.io/HentaiGanaTransliterator/font/KouzanMouhituFontOTF) format("woff2");
font-family: "UniHentaiKana";
  src: url(https://mmurak.github.io/HentaiGanaTransliterator/font/UniHentaiKana-Regular.woff2) format("woff2");
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'UniHentaiKana', 'KouzanBrushFontOTF', 'Helvetica Neue', 'Lucida Sans Unicode', 'Arial Unicode MS', sans-serif;
  font-size: 16px;
}

span.std {font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";}

.controlSection{
  height: 80px;
  width: 100%;
  text-align: left;
  display:inline-flex;
  background-color: #fff;
  color: #000;
}

.inputSection{
  width: 100%;
  height: 100%;
  float: left;
}

.inboxSection{
  width: 95%;
  height: 50px;
  font-size: 2em;
}

.buttonsSection{
  text-align: right;
  vertical-align: middle;
  font-size: 1.0em;
}

main{
  min-height: 100vh;
  display: flex;
  margin-top: 0px;
}

.candidateSection{
  width: 8em;
  text-align: left;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
}

.contentSection{
  flex: 1;
  background-color: #fff;
  text-align: left;
  margin-left: 5px;
  font-size: 2em;
}

